<template name='store'>
  <h1>{{storeInfo.name}}</h1>
  <div>{{storeInfo.property.storeAddress}}</div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Phone number/Email</th>
          <th>Party of </th>
          <th>Waiting</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {{#each storeQueue}}
        <tr class='{{isMyPosition _id ../storeInfo._id}}'>
          <td>{{displayFakeName}}</td>
          <td>{{partyOf}}</td>
          <td>{{waitTime}}</td>
          <td>{{status}}</td>
          <td>
            <!-- <button data-qid='{{_id}}' class='btn btn-primary'>table is ready</button>
            <button data-qid='{{_id}}' class='btn btn-default'>preparing table</button>
            <button data-qid='{{_id}}' class='btn btn-default'>user cancelled</button>
            <button data-qid='{{_id}}' class='btn btn-default kickoff-btn'>kick off</button> -->
          </td>
        
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div>
    <input type='text' id='addMePhoneNumber' placeholder='phone#' value='{{localSavedPhoneNumber}}'/> Or <input type='email' id='addMeEmail' placeholder='email' value='{{localSavedEmail}}'/> <input type='text' id='addMePartyOf' placeholder='partyof'/><button id='addMeButton' class='btn btn-primary'>Add Me</button>
  </div>

</template>